* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: white;

}

#fixed-nav {
    position: fixed;
    top: 2px;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
}

.nav-link:hover {

    background-color: red;

}

.navbar-brand {
    color: black;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}



.main img {

    height: 95vh;
    background-size: cover;
}

#background-img {
    display: grid;
    justify-content: center;

}

.main h3 {
    font-size: 4.4rem;
    font-weight: 700;

}

.main h6 {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid red;
    width: 30%;

}

.main .bt1 {
    height: 3em;
    width: 5rem;
    background-color: rgb(248, 5, 5);
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    color: white;
}


.main .bt2 {
    height: 3em;
    width: 5rem;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    border: 1px solid red;
    font-weight: bold;
    color: red;
}

.main .bt2:hover {
    background-color: red;
    color: white;
}

#background-img {
    overflow: hidden;
}

#aboutme {
    padding-top: 6em;
    margin-top: 9em;
    margin-bottom: 9em;

}

.project {
    margin-top: 9em;
    margin-bottom: 9em;
}

.card {

    box-shadow: 5px 5px 15px 0px darkorchid;
}

footer {
    background-color: lightslategray;
    height: 23vh;

}

footer h3 {
    font-size: 3em;
}

.mainloader {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainloader>div {
    width: 10px;
    height: 10px;
    background-color: black;
    margin: 2px;
    border-radius: 50%;

}

.loader1 {
    animation: jump 0.5s linear 0.1s infinite;
}

.loader2 {
    animation: jump 0.5s linear 0.2s infinite;
}

.loader3 {
    animation: jump 0.5s linear 0.3s infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);

    }

    100% {
        transform: translateY(0);
        background-color: white;
    }
}

#bt1 {
    border-radius: 5px;
    height: 2em;
    width: 5rem;
    background-color: rgb(248, 5, 5);
    outline: none;
    border: none;
    font-weight: bold;
    color: white;
}

#bt2 {
    border-radius: 5px;
    height: 2em;
    width: 5rem;
    background-color: rgb(248, 5, 5);
    outline: none;
    border: none;
    font-weight: bold;
    color: white;

}

/* icons design */
#bibi-twitter:hover {
    color: aqua;
}

#facebook:hover {
    color: rgb(14, 14, 202);
}

#youtube:hover {
    color: red;
}